---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/ui/Link.astro";
import Breadcrumbs from "@/components/navigation/Breadcrumbs.astro";
import { SITE } from "@/consts";
---

<Layout title="About" description={`About ${SITE.author}`} class="max-w-3xl">
  <Breadcrumbs items={[{ label: "About", icon: "lucide:user" }]} />
  <article class="prose">
    <div class="space-y-4">
      <p>
        I started in 2013 with Google Summer of Code, building Android apps for the University of Oslo (DHIS2). Two
        years later, I was hired by UiO.
      </p>

      <p>
        From there, I moved to Tidal, where I migrated the Android app to ExoPlayer and drove the Tidal Connect project
        in collaboration with Sony. I also ported Scala's persistent vector to Rust for my Master's.
      </p>

      <p>
        In 2019, I joined Microsoft. I led the integration of a React Native profile card into Teams Mobile and supported
        the feature in Outlook Mobile, shipping to tens of millions of users. Now, I'm working on AI experiences.
      </p>

      <p>
        If you have any questions or just want to say hi, you can reach out to me at
        <Link href="https://twitter.com/arazabishov" external underline> Twitter </Link>.
      </p>
    </div>
  </article>
</Layout>
