---
import Breadcrumbs from "@/components/navigation/Breadcrumbs.astro";
import Badge from "@/components/ui/Badge.astro";
import Layout from "@/layouts/Layout.astro";
import { getSortedTags } from "@/core/content";
import { Icon } from "astro-icon/components";

const sortedTags = await getSortedTags();
---

<Layout title="Tags" class="max-w-3xl">
  <Breadcrumbs items={[{ label: "Tags", icon: "lucide:tags" }]} />

  <div class="flex flex-col gap-4">
    <div class="flex flex-wrap gap-2">
      {
        sortedTags.map(({ tag, count }) => (
          <Badge href={`/tags/${tag}`}>
            {tag}
            <span class="text-muted-foreground ml-1.5">({count})</span>
          </Badge>
        ))
      }
    </div>
  </div>
</Layout>
