---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
---

<Layout title="About" description="About Araz Abishov" class="max-w-3xl">
  <Breadcrumbs items={[{ label: "About", icon: "lucide:user" }]} />
  <article class="prose">
    <div class="space-y-4 text-muted-foreground">
      <p>Hi there!</p>

      <p>
        I'm Araz Abishov, a software engineer living in Norway and working at
        Microsoft. I enjoy learning and playing around with the new technology,
        and I occasionally write about it in this blog.
      </p>

      <p>
        If you have any questions or just want to say hi, you can reach out to
        me at
        <Link href="https://twitter.com/arazabishov" external underline>
          Twitter
        </Link>.
      </p>
    </div>
  </article>
</Layout>
