---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About"
  description="About Araz Abishov"
  pubDate={new Date("December 22 2025")}
>
  <p>Hi there!</p>

  <p>
    I'm Araz Abishov, a software engineer living in Norway and working at
    Microsoft. I enjoy learning and playing around with the new technology, and
    I occasionally write about it in this blog.
  </p>

  <p>
    If you have any questions or just want to say hi, you can reach out to me at
    <a href="https://twitter.com/arazabishov">twitter</a>.
  </p>
</Layout>
