---
import Layout from "@/layouts/Layout.astro";
import SEO from "@/components/SEO.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { getAllProjects } from "@/core/data-utils";

const projects = await getAllProjects();
---

<Layout class="max-w-3xl">
  <SEO
    slot="head"
    title="Projects"
    description="Open source projects and side projects"
  />
  <Breadcrumbs items={[{ label: "Projects", icon: "lucide:folder-open" }]} />
  <section class="space-y-6">
    <p class="text-muted-foreground">
      A collection of open source projects and experiments I've worked on.
    </p>

    <ul class="flex flex-col gap-4">
      {projects.map((project) => <ProjectCard project={project} />)}
    </ul>
  </section>
</Layout>
