---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span">;

const { class: className, ...rest } = Astro.props;
---

<span
  class:list={[
    "inline-flex",
    "items-center",
    "justify-center",
    "rounded-md",
    "border",
    "border-transparent",
    "px-2",
    "py-0.5",
    "text-xs",
    "font-medium",
    "w-fit",
    "whitespace-nowrap",
    "shrink-0",
    "[&>svg]:size-3",
    "gap-1",
    "[&>svg]:pointer-events-none",
    "transition-[background-color]",
    "duration-200",
    "overflow-hidden",
    "bg-muted",
    "text-foreground",
    "[a&]:hover:bg-muted/90",
    className,
  ]}
  {...rest}
>
  <slot />
</span>
