---
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/navigation/Breadcrumbs.astro";
import ProjectCard from "@/components/cards/ProjectCard.astro";
import { getAllProjects } from "@/core/content";

const projects = await getAllProjects();
---

<Layout
  title="Projects"
  description="A showcase of my open source contributions and personal projects"
  class="max-w-3xl"
>
  <Breadcrumbs items={[{ label: "Projects", icon: "lucide:folder-open" }]} />
  <section class="space-y-6">
    <p class="text-muted-foreground">A collection of open source projects and experiments I've worked on.</p>

    <div class="grid gap-6 sm:grid-cols-2">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</Layout>
