---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  external?: boolean;
  underline?: boolean;
}

const { href, external, class: className, underline, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class:list={[
    underline && [
      "underline",
      "underline-offset-[3px]",
      "decoration-muted-foreground",
      "hover:decoration-foreground",
      "transition-[text-decoration-color]",
      "duration-300",
      "ease-in-out",
    ],
    className,
  ]}
  {...rest}
>
  <slot />
</a>
